body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;   
    align-items: center;     
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

.btn{
    background-color: black;
    border-radius: 5px;
    color: white;
    border: none;
    padding: 10px;
}



.ticket{background-color: #ffffff;
    padding: 25px;
    width: 400px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
.ticket-form {
  background: white;
  padding: 25px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.ticket-form input,
.ticket-form button {
  width: 100%;
  margin-top: 10px;
  padding: 8px;
}